@page
@model ZooBazaar_ASP_NET.Pages.EmployeeScheduleModel
@{
    ViewData["Title"] = "Employee Schedule";
    ViewData["TabName"] = "Employee Schedule";
    ViewData["Css"] = "~/css/EmployeeSchedule.css";
}

<div id="container">
    <div class="navigation">
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <select>
            <option></option>
            <option></option>
            <option></option>
        </select>
    </div>
    <div class="week">a</div>
    <div class="schedule">a</div>
    <div class="actionPanel">a</div>
</div>