@page
@model ZooBazaar_ASP_NET.Pages.EmployeeScheduleModel
@{
    ViewData["Title"] = "Employee Schedule";
    ViewData["TabName"] = "Employee Schedule";
    ViewData["Css"] = "~/css/EmployeeSchedule.css";
}

<div id="container">
    <div class="navigation">
        <div>
        <select class="dropdowns" id="animalEmployeeComboBox">
            <option></option>
            <option></option>
            <option></option>
        </select>
            <select class="dropdowns" id="entityComboBox">
            <option></option>
            <option></option>
            <option></option>
        </select>
        </div>
        <div>
            <button>&#60;</button>
            <button>Today</button>
            <button>></button>
            <button>New schedule</button>
        </div>

    </div>
    <div class="week">Week 10</div>
    <div class="schedule">
        @{
            <div>
            @{
                for (int i = 0; i < 16; i++)
                {
                    <div class="hour">@(i+6):00 </div>
                }
            }
            </div>
            for (int i = 0; i < 7; i++)
            {
                <div class="day">
                @{
                for (int j = 0; j < 16; j++)
                {
                    <div class="timeBlock"></div>
                }
                }
                </div>
            }
        }
    </div>
    <div class="actionPanel">

    </div>
</div>