@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=""
style="display: flex;
justify-content: center;
align-items: center;
height: 100%;"
>
    <form method="post" autocomplete="on"
style="display: flex;
flex-direction: column;
width: 400px;"
>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" type="text">
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" type="password">
        <button type="submit">Login</button>
        <div class="validation">
            @Model.mess
            <span class="feedback" asp-validation-for="Email"></span>
            <span class="feedback" asp-validation-for="Password"></span>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
