<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZooBazaarDesktopApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["Css"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZooBazaar_Desktop_App.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <a asp-page="AnimalList" class="icon">

        </a>
        <a asp-page="Welcome" class="icon">

        </a>
        <a asp-page="Index"  class="icon">

        </a>
        <a asp-page="EmployeeList" class="icon">

        </a>
        <a asp-page="StaticSchedule" class="icon">

        </a>
        <a asp-page="ManualSchedule" class="icon">

        </a>
    </nav>
    <div class="panel">
        <div class="border"></div>
        <div class="border tabName">@ViewData["TabName"]</div>
        <div class="border"></div>
        <main>
            @RenderBody()
        </main>
    </div>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>if (window.module) module = window.module;</script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>