@page 
@model ZooBazaar_Desktop_App.Pages.AnimalDetailsModel
@{
    
    ViewData["Css"] = "~/css/AnimalDetails.css";
    Layout = Layout = "/Pages/Shared/_LayoutWithoutNavBar.cshtml";
}
<div class="AnimalDetailsSite" >
    <button runat="server" onclick="history.go(-1); return false;" style="width:200px">X</button>

    <form method="post" id="animalForm" asp-page-handler="update">

        <fieldset id="animalFormFieldset" disabled >
            <label>ID</label>
            <label>@Model.animalDTO.AnimalId</label>

            <input asp-for="animalDTO.AnimalId" value=@Model.animalDTO.AnimalId id="IDofAnimal" hidden>

            <label for="Name">Name</label>
            <input asp-for="animalDTO.Name" id="Name">
            <span asp-validation-for="animalDTO.Name"></span>

            <label for="Age">Age</label>
            <input asp-for="animalDTO.Age" id="Age">
            <span asp-validation-for="animalDTO.Age"></span>

            <label for="BirthDay">BirthDay</label>
            <input asp-for="animalDTO.DateOfBirth" id="BirthDay">
            <span asp-validation-for="animalDTO.DateOfBirth"></span>

            <label for="Sex">Sex</label>
            <div style="flex">
                <label for="sexMale">Male</label>
                <input asp-for="animalDTO.Sex" type="radio" value=@true id="sexMale">
                <label for="sexFemale">Female</label>
                <input asp-for="animalDTO.Sex" type="radio" value=@false id="sexFemale">
            </div>
            <span asp-validation-for="animalDTO.Sex"></span>

            <label for="Species">Species</label>
            <input asp-for="animalDTO.Species" id="Species">
            <span asp-validation-for="animalDTO.Species"></span>

            <label for="Species">Species type</label>
            <input asp-for="animalDTO.SpeciesType" id="Species">
            <span asp-validation-for="animalDTO.SpeciesType"></span>


            <label for="Species">Sepcial care</label>
            <input asp-for="animalDTO.SpecialCare" id="Species">
            <span asp-validation-for="animalDTO.SpecialCare"></span>

            <label for="Diet">Diet</label>
            <input asp-for="animalDTO.Diet" id="Diet">
            <span asp-validation-for="animalDTO.Diet"></span>

            <label for="Feeding">Feeding</label>
            <input asp-for="animalDTO.FeedingInterval" id="Feeding">
            <span asp-validation-for="animalDTO.FeedingInterval"></span>

            <label for="Zone">Zone</label>
            <select name="ZoneID" asp-items="Model.ZonesOptions" asp-for="zoneID"></select>
            <label for="Habitat">Habitat</label>
            <select name="HabitatID" asp-items="Model.HabitatsOptions" asp-for="habitatID"></select>
            <label for="TimeBlock">TimeBlock</label>
            <select name="TimeblockID" asp-items="Model.TimeBlockOptions" asp-for="timeblockID"></select>


           
        </fieldset>
        <input type="submit" id="btnUpdate" value="Update" hidden>
    </form>
    <input id="btnEdit" onclick="enableForm()" value="Edit">
    <br />
    <form method="post" asp-page-handler="delete" asp-route-id="@Model.animalDTO.AnimalId">
        <button class="delete">Delete Animal</button>
    </form>
</div>

<script>
    function enableForm() {
        document.getElementById("animalFormFieldset").disabled = false;
        document.getElementById("btnUpdate").hidden = false;
        document.getElementById("btnEdit").hidden = true;

    }


</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
