@page
@model ZooBazaar_Desktop_App.Pages.EmployeeDetailsModel
@{
    ViewData["Css"] = "~/css/EmployeeDetails.css";
    Layout = Layout = "/Pages/Shared/_LayoutWithoutNavBar.cshtml";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<div class="EmployeeDetailsSite">
    <button runat="server" onclick="history.go(-1); return false;" style="width:200px">X</button>

        <form method="post" id="employeeForm" asp-page-handler="update">

        <fieldset id="employeeFormFieldset" disabled>
                <label>ID</label>
                <label>@Model.employeeDTO.EmployeeID</label>

                <input asp-for="employeeDTO.EmployeeID" value=@Model.employeeDTO.EmployeeID id="IDofEmployee" hidden>


            <label for="Name">Name</label>
            <input asp-for="employeeDTO.FirstName" id="Name">
            <span asp-validation-for="employeeDTO.FirstName"></span>


            <label for="LastName">Last Name</label>
            <input asp-for="employeeDTO.LastName" id="LastName">
            <span asp-validation-for="employeeDTO.LastName"></span>


            <label for="Email">Email</label>
            <input asp-for="employeeDTO.Email" id="Email">
            <span asp-validation-for="employeeDTO.Email"></span>

            <label for="Role">Password</label>
            <input asp-for="employeeDTO.Password" id="Password">
            <span asp-validation-for="employeeDTO.Password"></span>


            <label for="Phone">Phone</label>
            <input asp-for="employeeDTO.Phone" id="Phone">
            <span asp-validation-for="employeeDTO.Phone"></span>


            <label for="Adress">Adress</label>
            <input asp-for="employeeDTO.Address" id="Adress">
            <span asp-validation-for="employeeDTO.Address"></span>


            <label for="Role">Role</label>
            <input asp-for="employeeDTO.Role" id="Role">
            <span asp-validation-for="employeeDTO.Role"></span>

        </fieldset>
            <input type="submit" id="btnUpdate" value="Update" hidden>
        </form>
        <input id="btnEdit" onclick="enableForm()" value="Edit">
        <form method="post" asp-page-handler="delete" asp-route-id="@Model.employeeDTO.EmployeeID">
            <button class="delete">Delete Employee</button>
        </form>
</div>


<script>
    function enableForm() {
        document.getElementById("employeeFormFieldset").disabled = false;
        document.getElementById("btnUpdate").hidden = false;
        document.getElementById("btnEdit").hidden = true;

    }


</script>


