@page
@model ZooBazaar_Desktop_App.Pages.EmployeeAddModel
@{
    ViewData["Css"] = "~/css/AnimalDetails.css";
    Layout = Layout = "/Pages/Shared/_LayoutWithoutNavBar.cshtml";
}
<div class="AnimalDetailsSite">
    <button runat="server" onclick="history.go(-1); return false;" style="width:200px">X</button>

    <form method="post" id="animalForm" asp-page-handler="update">



        <fieldset id="animalFormFieldset" disabled>
            <label>ID</label>




            <label for="Name">Name</label>
            <input asp-for="employeeDTO.FirstName" id="Name">


            <label for="LastName">Last Name</label>
            <input asp-for="employeeDTO.LastName" id="LastName">


            <label for="Email">Email</label>
            <input asp-for="employeeDTO.Email" id="Email">


            <label for="Phone">Phone</label>
            <input asp-for="employeeDTO.Phone" id="Phone">

            <label for="Adress">Adress</label>
            <input asp-for="employeeDTO.Address"  id="Adress">

            <label for="Role">Role</label>
            <input asp-for="employeeDTO.Role" id="Role">




        </fieldset>
        <input type="submit" id="btnUpdate" value="Add" >
    </form>
 

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}