@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Css"] = "~/css/site.css";
    Layout = Layout = "/Pages/Shared/_LayoutWithoutNavBar.cshtml";
}

<div class=""
     style="display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;">
    <form method="post"
          style="display: flex; flex-direction: column;">
        <label style="margin: 5px 0px 5px 0px;" asp-for="Name">Name:</label>
        <input asp-for="Name" type="text" >
        <span asp-validation-for="Name"></span>
        <label style="margin: 10px 0px 5px 0px;" asp-for="Password">Password:</label>
        <input asp-for="Password" type="password">
        <span asp-validation-for="Password"></span>
        <button style="margin-top: 20px; width:150px; align-self:center;" type="submit">Login</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
