@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = Layout = "/Pages/Shared/_LayoutLogin.cshtml";
}

<div class=""
     style="display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;">
    <form method="post" autocomplete="on"
          style="display: flex; flex-direction: column;">
        <label style="margin: 5px 0px 5px 0px;" asp-for="Name">Name:</label>
        <input asp-for="Name" type="text">
        <label style="margin: 10px 0px 5px 0px;" asp-for="Password">Password:</label>
        <input asp-for="Password" type="password">
        <button style="margin-top: 20px; width:150px; align-self:center;" type="submit">Login</button>
        <div class="validation">
            <span class="feedback" asp-validation-for="Name"></span>
            <span class="feedback" asp-validation-for="Password"></span>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
