<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZooBazaar_ASP_NET</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@ViewData["Css"]" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZooBazaar_ASP_NET.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <a class="icon" asp-page="EmployeeSchedule">

        </a>
        <a class="icon" asp-page="AnimalSchedule">

        </a>
        <a class="icon" asp-page="EmployeeSchedule">

        </a>
    </nav>
    <div class="panel">
        <div class="border"></div>
        <div class="border tabName">@ViewData["TabName"]</div>
        <div class="border"></div>
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>