* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: Helvetica;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    min-width: 800px;
}

nav {
    position: fixed;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4C6674;
}
    nav a:first-child {
        margin-top: 40px;
    }

.icon {
    width: 60px;
    min-height: 60px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #637988;
    border-radius: 50px;
}
    .icon:hover {
        background-color: #29A57B;
    }
    .icon span {
        font-size: 40px;
    }

.panel{
    margin-left: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: 40px auto;
}

.border {
    background-color: #119B6C;
}

.tabName{
    line-height: 40px;
}

main {
    background-color: #F0F0F0;
    min-height: calc(100vh - 40px);
}

#welcome {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

button {
    border: 1px solid black;
    background-color: #119B6C;
    padding: 0 20px;
    color: white;
}

.logoutButton{
    background-color:transparent;
    width:auto;
    padding: 0px;
    margin: 0px;
    border: none;
}
.logoutForm{
    display: flex;
    justify-content:center;
}